.vscode
.venv
*.pin
*.pof
*.sof
*.qpf
*.qsf
*.sid
*.map.*
*.sta.*
*.fit.*
bitstream.tcl
bitstream
incremental_db
*.hdb
*.cdb
*.ddb
*.idb
*.rdb
*.logdb
*.qmsg
*.hsd
*.ammdb
db
*.rpt
*.sld
*.jdi
*.done
*.pow.*
Makefile
project
project.tcl
files.tcl
*.vcd
*.vvp
run.command
modelsim.ini
transcript
work/
*.wlf
